@import "@fontsource-variable/inter";
@import "@fontsource-variable/space-grotesk";
@import "@fontsource-variable/jetbrains-mono";

:root {
	--font-body: "Inter Variable";
	--font-heading: "Space Grotesk Variable";
	--font-mono: "JetBrains Mono Variable";
}

body {
	font-family: var(--font-body);
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
}

code,
pre {
	font-family: var(--font-mono);
}

.font-body {
	font-family: var(--font-body) !important;
}

.font-heading {
	font-family: var(--font-heading) !important;
}

.font-mono {
	font-family: var(--font-mono) !important;
}
